.profile {
  margin: 40px auto 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__image {
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "title .";
  grid-template-rows: minmax(auto, 45px);
  gap: 16px 18px;
  align-items: center;
}
.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: name;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__edit-button {
  background-image: url(../images/edit_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
  border: 1px solid #fff;
  background-color: #000;
  width: 24px;
  height: 24px;
  grid-area: button;
}

.profile__job {
  margin: 0;
  grid-area: title;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  margin-left: auto;
  background-color: #000;
  background-image: url(../images/open-close-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 950px) {
  .profile__add-button {
    max-width: 60px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .profile__info {
    grid-template-areas:
      "name button"
      "title title";
    grid-template-rows: repeat(2, 22px);
    column-gap: 10px;
    row-gap: 14px;
  }

  .profile__image {
    margin: 38px 0 26px 0;
  }
  .profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
  }

  .profile__job {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__edit-button {
    background-image: url(../images/edit_icon.svg);
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
  .profile__add-button {
    width: 100%;
    max-width: 282px;
    margin: 36px 0 0;
    background-size: 16px 16px;
  }
}
